.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 180px;
  justify-content: center;
  font-size: 18px;
  background: #23252f;
}

.footer .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}

.footer .author {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.footer .author > img {
  margin: 0px 10px;
}

.footer a,
img {
  text-decoration: none;
  height: 30px;
  width: 30px;
}
