* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    border: 1px solid;
    flex: 0.5;
}

.nav-container ul {
    display: flex;
    border: 1px solid;
    flex: 2 !important;
    padding: 0 10px;
    align-items: center;
}

.nav-container .navlinks li {
     list-style-type: none;
}

.nav-container .navlinks li a {
    text-decoration: none;
    color: black;

}







